<h2>Create new link</h2>

<%= form_for(Link.new)  do |f| %>

  <div>
    <%= f.label :link %><br />
    <%= f.text_field :link, class: "uk-input"%>
  </div>

  <div>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.submit "Create" %>
  </div>
<% end %>
