<h2>Create new link</h2>

<%= render "shared/error_messages", :target => @link %>

<%= form_for(@link)  do |f| %>
  <div>
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.submit "Create" %>
  </div>
<% end %>
