<!DOCTYPE html>
<html>
  <head>
    <title>GotoincApp2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if user_signed_in? %>
        <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, class: "btn btn-primary float-right" %>
        <%= link_to 'User profile', profile_path, class: "btn btn-primary float-right" %>
        <%= link_to "Create new link",  new_link_path %><br>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path, class: "btn btn-primary float-right" %>
        <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-primary float-right" %>
      <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
