<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: { method: :put, multipar: true }) do |f| %>
  <%= devise_error_messages! %>

  <div>
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
  </div>

  <div>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div>
    <%= f.label :about_me %><br />
    <%= f.text_field :about_me %>
  </div>

  <%= f.fields_for :address do |f2| %>
    <div>
      <%= f2.label :country %><br />
      <%= f2.text_field :country %>
    </div>

    <div>
      <%= f2.label :city %><br />
      <%= f2.text_field :city %>
    </div>

    <div>
      <%= f2.label :street %><br />
      <%= f2.text_field :street %>
    </div>

    <div>
      <%= f2.label :home_number %><br />
      <%= f2.text_field :home_number %>
    </div>
  <% end %>

  <%= f.label :profession %><br />
  <div>
    <%= f.fields_for :professions do |f2| %>
      <%= f2.text_field :profession %><br>
    <% end %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div>
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", profile_path, class: "uk-button uk-button-default" %>
