<h1>Hello</h1>

<% if current_user.admin? %>
    <%= link_to 'Admin Panel', rails_admin.dashboard_path
 %><br>
<% end %>

<%= image_tag @user.avatar.url(:medium) %><br>
First name: <%= @user.first_name %> <br>
Last name: <%= @user.last_name %><br>
Email: <%= @user.email %> <br>
Country: <%= @user.address.country %><br>
City: <%= @user.address.city %><br>
Street: <%= @user.address.street %><br>
Home number: <%= @user.address.home_number %><br>
Professions: <% @user.professions.each do |prof| %><br>
              - <%= prof.profession %>
             <% end %><br>
<%= link_to 'Edit User', edit_user_registration_path %>
